google-generativeai
fastapi
uvicorn
sentence-transformers
faiss-cpu
transformers
torch
openai==0.28.1
tqdm
aiohttp
requests
PyMuPDF
python-docx
pandas
pylint
requests
python-multipart
pydantic
aiofiles
ollama
streamlit
fpdf2
