fastapi
uvicorn
llama-index==0.9.48
sentence-transformers
faiss-cpu
transformers
torch
openai==0.28.1
tqdm
aiohttp
requests
PyMuPDF
python-docx
pandas
pylint
requests
python-multipart
pydantic
aiofiles